#map
#feed
  #post
    = form_for(@post, :url => { :action => :create, :controller => :posts }, :remote => true, :html => { "data-type" => :json }) do |f|
      = f.text_area(:text, :size => '50x2')
      = f.submit('Send')
      = f.file_field(:image, :accept => "image/*")
      = f.hidden_field(:lat, :value => '')
      = f.hidden_field(:long, :value => '')
  #updates
    - @posts.each do |post|
      .post.clearfix{ "data-post-id" => post.id }
        %a{ :href => post.user.profile_link }
          %img{ :src => post.user.profile_pic, :alt => post.user.profile_name }
        = post.text
        - if post.image.file?
          .thumb
            %a.thumbnail{ :href => post.image.url(:normal), :rel => :facebox }
              %img{ :src => post.image.url(:thumbnail) }
              
